In [2]:
import pandas as pd
import numpy as np

#read in data

df1 = pd.read_parquet('s3://so-db-compactions/interprose/account/20220608/20220608_070509_account.parquet', engine = 'pyarrow')
df2 = pd.read_parquet('s3://so-db-compactions/interprose/credit_vision/20220608/20220608_070509_credit_vision.parquet', engine = 'pyarrow')
df3 = pd.read_parquet('s3://so-db-compactions/interprose/payments/20220608/20220608_070423_payments.parquet', engine = 'pyarrow')
df4 = pd.read_parquet('s3://so-db-compactions/interprose/additional_original_account_information/20220608/20220608_070509_additional_original_account_information.parquet', engine = 'pyarrow')

#show all columns when using head() or tail()
pd.set_option('display.max_columns', None)

In [3]:
df3 = df3[df3['customer_client_code'].str.contains("GEN")] #reduce to just genesis accounts

df3.reset_index(inplace = True)

In [4]:
df1 = df1[df1['customer_client_code'].str.contains("GEN")] #reduce to just genesis accounts

df1.reset_index(inplace = True)

In [5]:
df_pay = df3.groupby('debt_id')['amount'].sum() #group by debt id while summing the amount columns

In [6]:
df_pay = df_pay.reset_index() # reset the index to restore the type as dataframe

In [7]:
df_merge1 = pd.merge(df_pay, df1, how='outer', on='debt_id') #merge the payment and account dataframes on debt_id,
#saving the accounts that have no payments, used outer so no data is lost here

df_merge2 = pd.merge(df_merge1, df4, how = 'left', on = 'debt_id')

In [8]:
#merge left, essentially get the cv info for each account, merged left so we don't have unused cv info accounts. 
df_fin = pd.merge(df_merge2, df2, how = 'left', on = 'debt_id')

In [9]:
pd.set_option('display.max_columns', 15) # show only 15 columns

In [10]:
df_fin = df_fin.replace(np.nan, 0.0) # replace nan with 0.0

In [11]:
df_fin['original_balance'] = df_fin['current_balance'] + df_fin['amount'] # calculate original balance, add as column

In [12]:
df_fin['today'] = pd.to_datetime("today").date() #add the number of days since last charge off

df_fin['num_days_since_charge_off'] = (df_fin['today'] - df_fin['client_delinquency_date'])

In [13]:
df_fin['original_balance_readable'] = df_fin['original_balance']/100 #converted into $ amount, no longer in cents

In [14]:
df_fin['percent_paid'] = df_fin['amount']/df_fin['original_balance'] # percent of the original balance paid, added as column

In [15]:
df_fin.dropna(inplace = True) # dropped rows with nan values
df_fin = df_fin.reset_index()

In [16]:
df_fin['num_days_since_charge_off'] = df_fin['num_days_since_charge_off'].dt.days.astype('int16') #converted datetime object to int

In [17]:
df_fin[['agg102', 'agg104', 'agg107','agg401', 'agg801','agg803', 'agg806']] = df_fin[['agg102', 'agg104', 'agg107', 
                   'agg401', 'agg801',
                   'agg803', 'agg806']].astype('int16') #converted to int for ML purposes

In [18]:
#print(list(df_fin.columns))

In [19]:
#beginning XGBoost and ML Stuff Here

#preparing data here
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor

cols_to_use = ['num_days_since_charge_off', 'right_party_contacts', 
               'interest_serialized_balance', 'principal_balance', 'principal_owing', 
               'agg102', 'agg104', 'agg107', 'agg401', 'agg801', 'agg803', 'agg806', 'principal_received', 'orginal_interest_rate']

X = df_fin[cols_to_use] #for now these features are chosen rather randomly, just starting to experiment with cv agg columns

y = df_fin.amount # predicting on aggregated amount (total paid), so if a new portfolio is tested its predicting how much the accounts are expected to pay

X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [20]:
SO_model = XGBRegressor(n_estimators = 1000, learning_rate = 0.02, random_state = 0, verbosity = 1)

SO_model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.02, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=1000, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=1)

In [21]:
from sklearn.metrics import mean_absolute_error

predictions = SO_model.predict(X_valid)
print("MAE:" + str(mean_absolute_error(predictions,y_valid)))

MAE:604.1329108214317

In [22]:
score = SO_model.score(X_train, y_train)  
print(score)

0.9093700775232376

In [ ]:
# I calculated a lot of kind of unusable features, predicting amount using original balance doesn't really work 
# because original balance is calculated using amount, so some of the features are contaminated.

In [23]:
df_fin['customer_client_code'].value_counts()

GENMAR2022     76365
GENMAY2022     72115
GENAPR2022     69790
GEN2MAR2022    65767
GENDEC2021     57258
GENJAN2022     41646
GENSEP2021     24255
GENAUG2021     23522
GENOCT2021     19675
GENNOV2021     11554
GENJUL2021     10074
GENJUN2021      8174
Name: customer_client_code, dtype: int64

In [24]:
df_fin['amount'].astype(bool).sum()

17126

In [25]:
np.count_nonzero(df_fin['amount'])

17126

In [26]:
df_fin.tail()

,level_0,debt_id,amount,index,customer_id,customer_account_number,client_id,...,ps_062,bc_29,original_balance,today,num_days_since_charge_off,original_balance_readable,percent_paid
480190,481385,111905190,0.0,1442184,SPRING,111905190,4282601,...,0.0,0.0,594192.0,2022-06-16,211,5941.92,0.0
480191,481386,111905191,0.0,1442185,SPRING,111905191,4282601,...,0.0,0.0,391861.0,2022-06-16,204,3918.61,0.0
480192,481387,111905192,0.0,1442186,SPRING,111905192,4282601,...,0.0,0.0,570925.0,2022-06-16,210,5709.25,0.0
480193,481388,111905193,0.0,1442187,SPRING,111905193,4282601,...,0.0,0.0,194140.0,2022-06-16,183,1941.40,0.0
480194,481389,111905194,0.0,1442188,SPRING,111905194,4282601,...,0.0,0.0,218172.0,2022-06-16,207,2181.72,0.0

In [88]:
filt_may = (df_fin['customer_client_code'] == 'GENMAY2022')

In [89]:
filt_mar = (df_fin['customer_client_code'] == 'GENMAR2022')

In [90]:
df_fin[filt_may]['amount'].mean() # wildly different implying change

13.346127712681135

In [87]:
df_fin[filt_mar]['amount'].mean() # significantly higher for a single month difference

879.7453807372488

In [152]:
df_test_pay = pd.read_parquet('s3://so-db-compactions/interprose/payments/20220315/20220315_190737_payments.parquet', engine = 'pyarrow')
df_test_acct = pd.read_parquet('s3://so-db-compactions/interprose/account/20210315/20210315_000002_account.parquet', engine = 'pyarrow')

In [153]:
filt_GEN = (df_test_pay['customer_client_code'].str.contains('GEN'))

In [154]:
df_test_pay = df_test_pay[filt_GEN]

In [155]:
df_test_pay['customer_client_code'].value_counts()

GENAUG2021    4998
GENSEP2021    4603
GENDEC2021    3792
GENJUL2021    3051
GENOCT2021    3010
GENJUN2021    2879
GENNOV2021    1363
GENJAN2022    1240
Name: customer_client_code, dtype: int64

In [157]:
df_test_acct['customer_client_code'].value_counts()

AFJAN2020     29628
MARNOV2020    18105
AFSEPT2020    16026
AFJUN2020     15799
AFFEB2021     10699
AFOCT2020     10087
AFAPR2020     10015
CNAC            823
UPJAN2021       586
UPDEC2020       499
UPFEB2021       489
UPNOV2020       403
UPOCT2020       347
AAAAA            56
SAMPLE1           4
Name: customer_client_code, dtype: int64

In [148]:
filt = (df_test_acct['customer_client_code'].str.contains('GEN'))

In [150]:
df_test_acct['customer_client_code'].value_counts()

Series([], Name: customer_client_code, dtype: int64)

10769.324070857936

13508.697144690408